.form-container {
	width: 90%;
	margin: 1rem;
	font-size: 1rem;
	background: var(--bg-clr-2);
}

.form {
	padding: 1rem;
	margin: 0.75rem 0;
}

.controls {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.control-input input {
	font-size: 0.75rem;
}

.control-input label {
	color: var(--clr-white);
}

.actions {
	width: 100%;
	display: flex;
	align-items: flex-end;
	margin-top: 1rem;
}

.actions .action {
	width: 100%;
}

.form-button {
	width: 100%;
	background: var(--bg-clr-1);
	font-size: 0.875rem;
}

.action .form-button:hover,
.action .form-button:active {
	background-color: var(--clr-primary-3);
	color: var(--clr-black);
}

.error-msg {
	font-size: 1rem;
	color:var(--clr-red);
	margin: 0.25rem 0;
}

/* Pixel 2 */
@media screen and (min-width: 411px) {
	.form-container,
	.form-button {
		font-size: 1.2rem;
	}

	.control-input input {
		font-size: 1rem;
		padding: 0.5rem;
	}
}

/* Pixel 2 */
@media screen and (min-width: 540px) {
	.form-container,
	.form-button {
		font-size: 1.2rem;
	}

	.form {
		margin: 1rem 5rem;
	}

}

/* iPad */
@media screen and (min-width: 768px) {
	.control-input input {
		font-size: 1.2rem;
	}

	.form-button {
		padding: 1rem;
	}
}

/* Laptop */
@media screen and (min-width: 1366px) {
	.form-container,
	.form-button {
		font-size: 1.4rem;
	}

	.form-button {
		padding: 1rem;
	}

	.form-container {
		width: 30%;
		padding: 0 1rem;
	}

	.controls {
		gap: 4rem;
	}

	.form {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		margin: 1rem;
	}
}
