.list__container {
	width: 90%;
	margin: 1rem;
	background: var(--bg-clr-2);
	overflow: auto;
}

.users-list {
	width: 100%;
	padding: 0.25rem;
	max-height: 45rem;
}

.request-msg-container {
	width: 100%;
	color: var(--clr-red);
	padding: 1rem;
	width: 620px;
	margin: 8rem 3rem;
	text-align: center;
	background-color: var(--bg-clr-2);
}

.loading-msg {
	color: var(--clr-primary-3);
}

/* Laptop */
@media screen and (min-width: 1366px) {
	.list__container {
		width: 50%;
		padding-bottom: 1rem;
	}

	.error-container {
		width:50%;
	}
}
