.list__container {
	/* fallback for old browsers */
	background: #141e30;
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(to right, #243b55, #141e30);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(to right, #243b55, #141e30);
	margin: 1.25rem;
}

.users-list {
	width: 25rem;
	padding: 0.25rem;
	max-height: 20rem;
	margin: 1rem;
}
