.form-control {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
	margin: 1rem;
	padding: 1rem;
}

.form-control.invalid input {
	border-color: #fc1919;
}

.form-control.invalid label {
	color: #fc1919;
}
