@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

/* Variables */
:root {
	--bg-clr-1: #333533;
	--bg-clr-2: #242423;
	--bg-clr-3: #00171f;
	--clr-primary-1: #edf2f4;
	--clr-primary-2: #ced4da;
	--clr-primary-3: #f6aa1c;
	--clr-white: #fff;
	--clr-black: #000;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background:var(--bg-clr-1);
}

html {
	font-family: 'Space Grotesk', sans-serif;
}

.Wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
}

@media screen and (min-width: 1000px) {
	.Wrapper {
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
	}
}
